.card {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
  grid-template-areas:
    "title artist"
    "image content"
    "button content";
  padding-bottom: 93px;
  margin: 0 auto;
}

.card:last-of-type {
  padding-bottom: 0;
}

.card__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  grid-area: title;
  margin: 0;
  padding-bottom: 48px;
}

.card__author-container {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 48px;
}

.card__author-subtitle {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0;
  padding-bottom: 8px;
  letter-spacing: 0.12em;
}

.card__author {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

.card__content-container {
  grid-area: content;
}

.card__content-paragraph {
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  padding-bottom: 25px;
}

.card__content-paragraph:last-of-type {
  padding-bottom: 0;
}

.card__image {
  grid-area: image;
  padding-bottom: 48px;
}

.card__image:last-of-type {
  max-width: 100%;
}

.card__button {
  max-width: 248px;
  max-height: 48px;
  padding: 13px 20px;
  background-color: #0278fe;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  border: none;
  border-radius: 4px;
  grid-area: button;
  transition: 0.2s ease-in-out;
}

.card__button:hover {
  background-color: #0063d2;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .card {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
    padding-bottom: 50px;
  }

  .card__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .card__content-paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "content"
      "button";
  }

  .card__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 0 16px;
  }

  .card__author-container {
    padding: 0 16px;
  }

  .card__content-container {
    margin: 0 auto;
  }

  .card__content-paragraph {
    font-size: 16px;
    line-height: 1.63;
    padding: 0 16px 25px 16px;
  }

  .card__image {
    max-width: 100%;
    padding: 0;
    justify-self: auto;
  }

  .card__button {
    padding: 13px 40px;
    min-width: 288px;
    margin: 0 auto;
  }
}
