.cover {
  background-image: url(../images/cover_background.jpg);
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 740px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.cover:hover {
  opacity: 0.8;
}

.cover__title {
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  color: #fffdfd;
  z-index: 2;
}

.cover__address {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.cover__button {
  border-radius: 4px;
  border: none;
  background-color: #0278fe;
  padding: 13px 20px;
  transition: 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
}

.cover__button:hover {
  background-color: #0063d2;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .cover {
    min-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    min-width: 100%;
    max-height: 254px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0;
    padding-bottom: 16px;
  }

  .cover__address {
    font-size: 14px;
    line-height: 1.14;
    padding: 0 0 14px 0;
    margin: 0;
  }
}
