.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  max-width: 785px;
  margin: 0 0 0 148px;
  padding-bottom: 40px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  margin-left: 148px;
  padding-bottom: 118px;
  max-width: 720px;
}

.intro__quote {
  font-size: 24px;
  line-height: 1.42;
  margin: 0;
}

.intro__source {
  align-self: end;
  margin: 0;
  padding: 10px 0 32px 0;
  font-size: 24px;
  line-height: 1.42;
}

.intro__description {
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .intro__title {
    max-width: 720px;
    margin: 0 auto;
  }

  .intro__content {
    padding-bottom: 90px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
  }

  .intro__content {
    max-width: 288px;
  }

  .intro__paragraph:first-of-type {
    line-height: 1.25;
  }
}
