.page {
  background-color: #2a2c2f;
  color: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

.page__content {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    max-width: 320px;
  }
}
