.places__container {
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .places__container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .places__container {
    padding: 0;
  }
}
