.places__container {
  margin: 0 auto;
  max-width: 984px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1000px) {
  .places__container {
    padding: 0 24px 92px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 500px) {
  .places__container {
    padding: 0 0 64px 0;
  }
}
